@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

.sign-up {
  font-family: Roboto;
  color: #262626;
  width: 384px;
  padding: 48px 32px;
  margin: 33px auto 0 auto;
  border-radius: 6px;
  border: 1px solid#D9D9D9;
  user-select: none;
  background: #fff;
  box-shadow:
    0px 22px 106px 0px rgba(0, 0, 0, 0.07),
    0px 9.191px 44.284px 0px rgba(0, 0, 0, 0.05),
    0px 4.914px 23.676px 0px rgba(0, 0, 0, 0.04),
    0px 2.755px 13.273px 0px rgba(0, 0, 0, 0.04),
    0px 1.463px 7.049px 0px rgba(0, 0, 0, 0.03),
    0px 0.609px 2.933px 0px rgba(0, 0, 0, 0.02);
}

.form {
  &__title {
    font-family: Roboto-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-bottom: 21px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    &--checkbox {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      border-top: 1px solid #e8e8e8;
      margin-bottom: 21px;
      padding-top: 8px;
    }

    &--submit {
      margin-bottom: 8px;
    }

    &:nth-child(5) {
      margin-bottom: 21px;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 22px;

    &--checkbox {
      font-size: 14px;
      line-height: 22px;
      color: #595959;
      cursor: pointer;
    }
  }

  &__input {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    background: #fff;
  }

  &__checkbox {
    margin-top: 2.5px;
    width: 16px;
    height: 16px;
    line-height: 24px;
    cursor: pointer;
  }

  &__submit {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    background: #1890ff;
    cursor: pointer;
  }

  &__footer {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #8c8c8c;

    &--link {
      color: #1890ff;
    }
  }
}
